<template>
  <div class="container">
<!--  <div class="card">-->
<!--    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Casa</h5>-->
<!--      <p class="card-text">Direccion de casa</p>-->
<!--      <a href="#!" class="btn btn-primary">Ver</a>-->
<!--    </div>-->
<!--  </div>-->
    <div class="card">
      <div class="box">
        <div class="top">
          <img src="https://cdn.pixabay.com/photo/2014/07/10/17/18/large-home-389271__340.jpg" alt="" />
          <span
          ><i class="fas fa-heart"></i></span>
        </div>
        <div class="bottom">
          <div class="card-title">
            <h3>Nombre casa</h3>
          </div>
          <div class="card-body">
            <p>
              Direccion de casa
            </p>
            <div class="advants">
              <div>
                <span>Recamaras</span>
                <div><i class="fas fa-th-large"></i><span>3</span></div>
              </div>
              <div>
                <span>Baños</span>
                <div><i class="fa-solid fa-shower"></i><span>3</span></div>
              </div>
              <div>
                <span>Area</span>
                <div>
                  <i class="fas fa-vector-square"></i
                  ><span>4300<span>Sq Ft</span></span>
                </div>
              </div>
            </div>
            <div class="price">
              <span>For Sale</span>
              <span>$540,000</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

</template>

<script>
export default {
  name: 'HousesCards'
};
</script>

<style scoped>
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

.container {
  width: 1100px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

/*.container .box {*/
/*  width: calc((100% / 3) - 20px);*/
/*  background-color: white;*/
/*  position: relative;*/
/*}*/

.container .box .top {
  position: relative;
  background-color: red;
}

.container .box .top:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(43, 187, 175, 0.829);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.container .box .top:hover:before {
  opacity: 1;
}

.container .box .top:after {
  content: "Ver Casa";
  color: white;
  font-size: 12px;
  padding: 10px;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}

.container .box .top:hover:after {
  opacity: 1;
}

.container .box .top img {
  width: 100%;
  margin-bottom: -4px;
}

.container .box .top span {
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: white;
  font-size: 20px;
}

.container .box .top span i {
  margin-left: 5px;
}

.container .box .bottom {
  padding: 20px 15px;
  position: relative;
}

.container .box .bottom h3 {
  font-size: 15px;
}

.container .box .bottom > p {
  margin: 15px 0;
  font-size: 13px;
  line-height: 1.4;
  color: #777;
}

.container .box .bottom .advants {
  display: flex;
}

.container .box .bottom .advants > div {
  margin-right: 15px;
}

.container .box .bottom .advants > div > span {
  font-weight: bold;
  font-size: 12px;
}

.container .box .bottom .advants > div > div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.container .box .bottom .advants > div > div i {
  color: #777;
  font-size: 22px;
}

.container .box .bottom .advants > div > div > span {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.container .box .bottom .advants > div > div > span > span {
  color: #777;
  font-weight: normal;
  margin-left: 5px;
}

.container .box .bottom .price {
  margin-top: 20px;
}

.container .box .bottom .price span:first-of-type {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

.container .box .bottom .price span:last-of-type {
  color: #3eaba1;
  font-size: 22px;
}


</style>
