<template>
  <div>
    <h1>Home Page</h1>
    <HousesCards></HousesCards>
  </div>
</template>
<script>
// @ is an alias to /src
import HousesCards from '@/components/HousesCards.vue';

export default {
  name: 'HomeView',
  components: {
    HousesCards
  },
};
</script>
