<template>
  <div class="container">
    <form>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input v-model="userName" type="text" class="form-control" />
        <label class="form-label" for="form2Example1">Nombre de ususario</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" v-model="userPass" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Contraseña</label>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
          </div>
        </div>

        <div class="col">
        </div>
      </div>

      <!-- Submit button -->
      <router-link to="/home" tag="button" class="btn btn-primary btn-block mb-4">Ingresar</router-link>
      <button v-on:click="confirmUser" type="button">Ingresar</button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>¿No tienes cuenta? <router-link to="/newuser">Registrate</router-link></p>
      </div>
    </form>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios';

export default {
  name: 'LoginView',
  data(){
    return {
      userName: "",
      userPass: ""
    }
  },
  methods: {
    async confirmUser(){
      try {
        let response = await axios.post('https://silly-hospital-gown-seal.cyclic.app/auth/login',
          {
            userName: this.userName,
            userPass: this.userPass,
          });
        if (response.status == 200 || response.status == 201){
          await this.$router.push("/home");
        }else{
          this.error = true
        }
        console.log(response)
      } catch (e){
        console.log(e)
      }
    }
  },
  components: {

  },

};
</script>
