<template>
  <div class="register">
    <h1 class="title">Sign Up</h1>
    <form action class="form" @submit.prevent="register">
      <label class="form-label" for="#userName">User Name:</label>
      <input
        v-model="userName"
        class="form-input"
        type="text"
        id="user"
        required
        placeholder="UserName"
      >
      <label class="form-label" for="#firstName">First Name:</label>
      <input
        v-model="firstName"
        class="form-input"
        type="text"
        id="nameFirst"
        placeholder="FirstName"
      >
      <label class="form-label" for="#lastName">Last Name:</label>
      <input
        v-model="lastName"
        class="form-input"
        type="text"
        id="nameLast"
        placeholder="LastName"
      >

      <label class="form-label" for="#password">Password:</label>
      <input
        v-model="password"
        class="form-input"
        type="password"
        id="password"
        placeholder="Password"
      >

      <input class="form-submit" type="submit" value="Sign Up">
      <button v-on:click="login">Crear</button>
    </form>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  data: () => ({
    userName: "",
    firstName:"",
    lastName:"",
    password: "",
    error: false
  }),
  methods: {
    async login() {
      try {
        let response = await axios.post('https://silly-hospital-gown-seal.cyclic.app/auth/register',{
          userName: this.userName,
          userPass: this.password,
          firstName: this.firstName,
          lastName: this.lastName
        });
        console.log(response)
      } catch (error) {
        this.error = true;
      }

    }
  }
};
</script>
